.series__grid {
  display: grid;
  grid-auto-rows: 190px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.series__bg {
  background: linear-gradient(
    95.68deg,
    rgba(35, 35, 35, 0.8) 10.86%,
    rgba(11, 11, 11, 0.6) 110.86%
  );
  z-index: -1;
}

.series__big {
  grid-column: span 4;
  grid-row: span 2;
  background: url(../img/seriesPost.png) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  z-index: 1;
}
.series__big-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.series__big-text_title {
  font-family: var(--CR);
  font-weight: 700;
  font-size: 40px;
}

.series__big-text_desc {
  font-family: var(--CR);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.series__medium {
  grid-column: span 2;
  grid-row: span 2;
}
.series__small {
  grid-column: span 1;
  grid-row: span 1;
}
